<% if(typeof error != 'undefined') { %>
<%- include('partials/message') %>
<% } %>

<% if(typeof success_msg != 'undefined') { %>
<%- include('partials/success') %>
<% } %>

<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
    <div class="card-body">
        <h4 class="card-title">Register here </h4>
        <% %>
        <form method="post">
            <div class="form-group has-success">
                <label class="form-control-label" for="name">name</label>
                <input type="text" class="form-control is-valid" id="inputValid" name="name" value="<%= typeof name !='undefined'
                        ? name : '' %>">
            </div>
            <div class="form-group has-success">
                <label class="form-control-label" for="email">email</label>
                <input type="text" class="form-control is-valid" id="inputValid" name="email" value="<%= typeof email !='undefined'
                    ? email : '' %>">
            </div>
            <div class="form-group has-success">
                <label class="form-control-label" for="password">password</label>
                <input type="password" class="form-control is-valid" id="inputValid" name="password" value="<%= typeof password !='undefined'
                    ? password : '' %>">
            </div>
            <div class="form-group has-success">
                <label class="form-control-label" for="password2">password2</label>
                <input type="password" class="form-control is-valid" id="inputValid" name="password2" value="<%= typeof password2 !='undefined'
                    ? password2 : '' %>">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>